<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>UserInfo</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/userInfo.controller.js"></script>
<script type="text/javascript" src="app/User.service.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="crudApp" ng-controller="UserInfoController">
	
	<div class="container">
	<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">User Information Form / Data</a>
	</div>
	</nav>
	<div class="panel panel-default">
		<div class="panel-body bg-warning">
			<form ng-submit="saveUser()">
				<div class="form-group">
					<label for="userLastName">Last Name</label>
					<input type="text" ng-model="user.lastName" class="form-control" id="userLastName" placeholder="User's Last Name">
				</div>
				<div class="form-group">
					<label for="userFirstName">First Name</label>
					<input type="text" ng-model="user.firstName" class="form-control" id="userFirstName" placeholder="User's First Name">
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" ng-model="user.address" class="form-control" id="address" placeholder="Please Enter your Address">
				</div>
				<div class="form-group">
					<label for="dob">Date of Birth</label>
					<input type="text" ng-model="user.dob" class="form-control" id="dob" placeholder="mm/dd/yyyy">
				</div>
				<div class="form-group">
					<label for="dob">Policy Start Date</label>
					<input type="text" ng-model="user.policyStartDate" class="form-control" id="policy" placeholder="mm/dd/yyyy">
				</div>
				<div class="form-group">
					<label for="maxInsurance">Approx. Maximum Insurance/month</label>
					<input type="text" ng-model="user.maxInsurance" class="form-control" id="maxInsurance" placeholder="Maximum Insurance/month">
				</div>
				
				<button type="submit" class="btn btn-default">{{buttonText}}</button>
			</form>
		</div>
		</div>
		<div class="panel panel-default">
		<div class="panel-body bg-success">
			<div>
				<table class="table table-striped">
					<tr class="bg-dark">
						<th> Last Name </th>
						<th> First Name </th>
						<th> Address </th>
						<th> Date of Birth </th>
						<th> Policy Start Date </th>
						<th> Max Insurance </th>
					</tr>
					<tr ng-repeat="user in users">
						<td> {{user.lastName}} </td>
						<td> {{user.firstName}} </td>
						<td> {{user.address}} </td>
						<td> {{user.dob}} </td>
						<td> {{user.policyStartDate}} </td>
						<td> {{user.maxInsurance}} </td>
						<td>
							<button type="button" class="btn btn-default" ng-click="deleteUser(user)">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</div>
</body>


</html>